


ul{
  list-style: none;
}
.contain{
  
  height: 100vh;
  background-color: #04192e;
  padding-top: 15vh;
}

h1{
  font-size: 35px;
  color:  #fff;
}
.todoDiv{
  background-color:#052c54;
  max-width: 20%;
  padding: 20px;
  border-radius: 6px;

}

.inputF:focus{
  /* height: 40px; */
  outline: none
}

.inp_div{
  background-color: #fff;
  border-radius: 5px;  
  border:1px solid #0d033c;

}

.plus{
  margin-left: 11px
}
.plus, .minicon{
  font-size: 20px;
  font-weight: 700;
  /* height: */
  cursor: pointer;
}
.plus:hover, .minicon:hover{
  background-color: #fff;
  border-radius: 50px;
  color: #0d033c;
}
.plus:hover{
  background-color: #0d033c;
  color: #fff;
}

.lists{
  border-radius: 6px;
  background-color: #0d033c;
  color: #fff
}

.editList{
  font-size: 15px !important;
  cursor: pointer;
}

button{
  border-radius: 3px;

}

.addList{
    margin-left: 10px;
    font-size: 32px !important;
    font-weight: 500;
    cursor: pointer;
}

.btn.btn-outline-light{
    display: none;

}

.btn.activ{
  display: block;

}


